#searchText{
  padding: 10px;
  margin-right: 9px;
  width: 235px;
  border-radius: 1.7px;
  border: 0.5px solid black;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.02), 0 6px 6px rgba(0, 0, 0, 0.06);
  margin-bottom: 0.5px;
}

#searchButton{
  padding-bottom: 10.1px;
  padding-top: 10.2px;
  padding-left: 10.2px;
  padding-right: 10.2px;
  /* font-weight: 500; */
  font-size: 0.8em;
}
