#App {
  font-family: 'Roboto', sans-serif;
  #header{
    display: flex;
    justify-content: space-between;
    padding: 10px 25px;
    #logo {
      color: #191919;
      font-size: 1.8em;
    }
  }
}

@media only screen and (max-width: 660px) {
  #App{
    #header {
      display: block;
      text-align: center;
    }
  }
}
